<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="css/Autofind.css">

  </head>
  <body>
    <style>
body {
  background-image: url('images/grey-background.jpeg');
}
</style>
    <section id = "logo">
        <img src="images/logo.png" alt= "logo" width="400px" height="200px"

    </section>

    <section id = "navBar" th:replace="navBar :: navBar"></section>

  <section class="about" id="about">

    <h1 class="heading"> our <span>services</span> </h1>

    <div class="box-container">

        <div class="box">
            <i class="fas fa-car"></i>
            <h3>car selling</h3>
            <p>Discover our latest new car deals at Autofind. We retail a huge collection of quality new electric, hybrid and petrol cars for sale, from world-renowned vehicle manufacturers. Whatever you have in mind, find your next SUV, hatchback, saloon, estate and more.</p>
            <a href="#" class="btn"> read more</a>
        </div>

        <div class="box">
            <i class="fas fa-tools"></i>
            <h3>Parts repair</h3>
            <p>We offer service parts at very competitive prices with Free Delivery across the whole of the UK. We specialise in all the major car parts - brake pads, blades, batteries, bulbs and all the essential car maintenance essentials - engine oil, car fluids.</p>
            <a href="#" class="btn"> read more</a>
        </div>

        <div class="box">
            <i class="fas fa-car-crash"></i>
            <h3>Car insurance</h3>
            <p>Our car insurance covers you against the cost of accidents and damage. You can choose from our comprehensive or third party, fire and theft insurance.</p>
            <a href="#" class="btn"> read more</a>
        </div>

        <div class="box">
            <i class="fas fa-car-battery"></i>
            <h3>Transmission replacement</h3>
            <p>The transmission may well be one of the most important components of your car or truck. That's why it's important to trust its maintenance and repair to a full-service shop.</p>
            <a href="#" class="btn"> read more</a>
        </div>

        <div class="box">
            <i class="fas fa-gas-pump"></i>
            <h3>Oil change</h3>
            <p>We provide oil changes for all cars and trucks. We additionally offer a vehicle inspection with your oil change. We sell oil for your vehicle in our garage. Therefore you would experience the convinience of our service.</p>
            <a href="#" class="btn"> read more</a>
        </div>

        <div class="box">
            <i class="fas fa-headset"></i>
            <h3>MOT service</h3>
            <p>An MOT is a yearly inspection that is required on all vehicles in the UK that are over three years old. Our MOT testing is part of our overall car servicing offering. Enquire now and find out about the full range of options we offer.</p>
            <a href="#" class="btn"> read more</a>
        </div>

    </div>

</section>




  </body>
</html>
