<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Contact Us</title>
    <link rel="stylesheet" href="css/Autofind.css">

  </head>
  <body>
    <style>
body {
  background-image: url('images/grey-background.jpeg');
}
</style>
    <section id = "logo">
      <img src="images/logo.png" alt= "logo" style = "width:400px;" height="200px"
    </section>

    <section id = "navBar" th:replace="navBar :: navBar"></section>
<!-- Add contact information here -->
<section id = "info">
  <h1> Contact Us </h1>
  <img src=" " alt="">
  <p> Thank you for visiting AutoFind.<br>
     We hope you have had a great experience on our website. If you would like to get in touch with a member of the team, you will find our contact details below. <br>
     Alternatively you can pop in to our showroom (no appointment required) and speak to a member of our team. <br> <br>

     Email: reception@Autofind.com
<br> <br>
Address: Unit 6 <br>
Aston Street <br>
Birmingham <br>
B4 7ET <br>
<br>
Opening Times <br>
Our showrooms are open:
<br>
Mon-Fri 9am – 9pm <br>
Sat-Sun 9am – 6pm
  </p>

</section>
