<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Our Fleet</title>
    <link rel="stylesheet" href="css/Autofind.css">

  </head>
  <body>
    <section id = "logo">
        <img src="images/logo.png" alt= "logo" style = "width:400px;" height="200px"
    </section>

    <section id = "navBar" th:replace="navBar :: navBar"></section>
    <style>
    body {
    background-image: url('images/grey-background.jpeg');
    }
    </style>
<h1>Our Fleet</h1>
<br>

<section id = "Product1" >
  <h2>Audi A3 Sportback Black Edition <br>
     35 TFSI 150 PS S tronic 1.5 5dr <br>
     £21,990
   </h2>
  <img class="Audi" src="images/Audi a3 .jpeg" alt="Audi A3">
  <p>We are pleased to offer for sale this stunning Audi A3 Black Edition Euro 6 with a Full Dealership service history, 2 keys and a 6 month insured warranty.<br>
     All our vehicles under go a full Approved Used Vehicle inspection and are serviced as required by one of our RAC and AA Approved workshops.<br>
       6,400 miles | Automatic | 1 owner | Petrol | Hatchback | ULEZ <br>


    </p>
</section>
<br>

<section id = "Product2" >
  <h2> BMW M5 <br>4.4i V8 Competition Steptronic xDrive Euro 6 (s/s) 4dr <br>
  £89,999 </h2>
  <img src="images/bmw m5.jpeg" alt="bmw m5 comp">
  <p> We are proud to present this stunning, M5 Competition Saloon finished in Marina Bay Blue with a Full Black Merino Leather interior. <br>
    This particular car comes with the sought after Comfort Plus Pack with Heated Steering Wheel, Soft-close doors, Ventilated Front Seats, Front and Rear Heated Seats, Ambient Air and Front Massage Seats. <br>
    Saloon | 4.4L | Automatic Petrol | 4 doors | 5 seats | ULEZ </p>
</section>
<br>
<section id = "Product3" >
  <h2> Mercedes-Benz E Class <br>
2020 (20 reg) <br>
3.0 E350d AMG Line Edition G-Tronic+ Euro 6 (s/s) 4dr <br>
£31,995</h2>
  <img src=" images/mercedes e class.jpeg " alt="MB Eclass">
  <p> We are proud to present this stunning, Mercedes-Benz E Class 3.0 E350d AMG Line Edition TOP OF THE RANGE <br>
    VERY LOW MILEAGE OF 5533 MILES, SAT NAV, REVERSE CAMERA HEATED LEATHER INTERIOR AMBIENCE LIGHTING <br>
     DRIVES AND LOOKS SUPERB VERY ECONOMICAL AND RELIABLE CAR STUNNING CONDITION. <br>
     Saloon | 3.0L | Automatic | Diesel | 4 doors | 5 seats | Full service history | 1 owner



   </p>
</section>
<br>
<section id = "Product4" >
  <h2>Land Rover Range Rover Sport <br>
2015 (65 reg) <br>
3.0 Range Rover Sport Autobiography Dynamic SDV6 Auto 4WD 5dr <br>
£34,995 </h2>
  <img src="images/Range Rover.jpeg" alt="RangeRover">
  <p> We are proud to present this stunning, Range Rover Sport Autobiography Dynamic finished in metallic Fuji White with 22 inch 5-Split-Spoke Alloy Wheels in Satin Black <br>
    and an Oxford Perforated leather interior in Black. The legendary Range Rover Sport with its powerful <br>
    muscular stance and sporty design cues has been designed to command attention. <br>
    SUV | 3.0L | Automatic | Diesel | 5 doors | 5 seats | ULEZ
   </p>
</section>
<br>
<section id = "Product5" >
  <h2> Volkswagen Golf <br>
2021 (21 reg) <br>
2.0 TSI GTI DSG Euro 6 (s/s) 5dr <br>
£31,439</h2>
  <img src=" images/gti.jpeg" alt="GTI">
  <p> This Stunning VW GOLF comes complete with OVER £500 OF FACTORY FITTED OPTIONS INCLUDING REAR VIEW CAMERA, WINTER PACK INCLUDING <br>
    HEATED STEERING WHEEL with NAVIGATION, MEDIA SCREEN, REAR PARKING CAMERA,CLIMATE CONTROL, DIGITAL DISPLAY, ALLOYS, BLUETOOTH <br>
    and all the standard Specification you would expect. It is also ULEZ compliant. <br>
    Hatchback | 2.0L | Automatic | Petrol | 5 doors | 5 seats | ULEZ | 9,163 miles

  </p>
</section>
<br>
  </body>
</html>
